/****** Object:  Table [dbo].[Gender]    Script Date: 11/4/2019 11:42:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 11/4/2019 11:42:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [varchar](3) NOT NULL,
	[City] [varchar](120) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Race]    Script Date: 11/4/2019 11:42:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Race](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
	[RaceDate] [datetime] NOT NULL,
	[RaceType] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[SensorAmount] [int] NOT NULL,
	[RaceState] [int] NOT NULL,
	[Gender] [int] NOT NULL,
 CONSTRAINT [PK_Race] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceData]    Script Date: 11/4/2019 11:42:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartListId] [int] NOT NULL,
	[SensorId] [tinyint] NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
 CONSTRAINT [PK_RaceData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceState]    Script Date: 11/4/2019 11:42:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceState](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RaceState] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceType]    Script Date: 11/4/2019 11:42:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceType](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RaceType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skier]    Script Date: 11/4/2019 11:42:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[CountryCode] [varchar](3) NOT NULL,
	[BirthDate] [datetime] NULL,
	[Image] [varchar](500) NULL,
	[IsRemoved] [bit] NOT NULL,
	[Gender] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Skier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StartList]    Script Date: 11/4/2019 11:42:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StartList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SkierId] [int] NOT NULL,
	[RaceId] [int] NOT NULL,
	[StartNumber] [int] NOT NULL,
	[RunNumber] [tinyint] NOT NULL,
	[IsDisqualified] [bit] NOT NULL,
 CONSTRAINT [PK_StartList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (0, N'Male')
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (1, N'Female')
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([Id], [CountryCode], [City]) VALUES (1, N'FIN', N'Levi')
INSERT [dbo].[Location] ([Id], [CountryCode], [City]) VALUES (2, N'CAN', N'Lake Louise')
INSERT [dbo].[Location] ([Id], [CountryCode], [City]) VALUES (3, N'USA', N'Beaver Creek')
SET IDENTITY_INSERT [dbo].[Location] OFF
SET IDENTITY_INSERT [dbo].[Race] ON 

INSERT [dbo].[Race] ([Id], [Name], [Description], [RaceDate], [RaceType], [LocationId], [SensorAmount], [RaceState], [Gender]) VALUES (2, N'Levi', N'Night Slalom in Levi', CAST(N'2019-11-24T14:00:00.000' AS DateTime), 0, 1, 5, 0, 0)
INSERT [dbo].[Race] ([Id], [Name], [Description], [RaceDate], [RaceType], [LocationId], [SensorAmount], [RaceState], [Gender]) VALUES (3, N'Lake Louise', N'First Downhill this year', CAST(N'2019-11-30T13:00:00.000' AS DateTime), 3, 2, 4, 0, 0)
INSERT [dbo].[Race] ([Id], [Name], [Description], [RaceDate], [RaceType], [LocationId], [SensorAmount], [RaceState], [Gender]) VALUES (8, N'Lake Louise', N'First Super-G this year', CAST(N'2019-12-01T09:00:00.000' AS DateTime), 2, 2, 6, 0, 1)
SET IDENTITY_INSERT [dbo].[Race] OFF
SET IDENTITY_INSERT [dbo].[RaceData] ON 

INSERT [dbo].[RaceData] ([Id], [StartListId], [SensorId], [TimeStamp]) VALUES (1, 836, 1, CAST(N'2019-10-15T13:05:42.000' AS DateTime))
INSERT [dbo].[RaceData] ([Id], [StartListId], [SensorId], [TimeStamp]) VALUES (2, 836, 2, CAST(N'2019-10-15T13:06:05.457' AS DateTime))
INSERT [dbo].[RaceData] ([Id], [StartListId], [SensorId], [TimeStamp]) VALUES (3, 836, 3, CAST(N'2019-10-15T13:06:15.957' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RaceData] OFF
INSERT [dbo].[RaceState] ([Id], [Name]) VALUES (0, N'NotStarted')
INSERT [dbo].[RaceState] ([Id], [Name]) VALUES (1, N'Running')
INSERT [dbo].[RaceState] ([Id], [Name]) VALUES (2, N'Done')
INSERT [dbo].[RaceType] ([Id], [Name]) VALUES (0, N'Slalom')
INSERT [dbo].[RaceType] ([Id], [Name]) VALUES (1, N'GiantSlalom')
INSERT [dbo].[RaceType] ([Id], [Name]) VALUES (2, N'SuperG')
SET IDENTITY_INSERT [dbo].[Skier] ON 

INSERT [dbo].[Skier] ([Id], [FirstName], [LastName], [CountryCode], [BirthDate], [Image], [IsRemoved], [Gender], [IsActive]) VALUES (203, N'Linda', N'Sherman', N'AUT', CAST(N'1992-09-09T18:13:33.000' AS DateTime), NULL, 0, 1, 1)
INSERT [dbo].[Skier] ([Id], [FirstName], [LastName], [CountryCode], [BirthDate], [Image], [IsRemoved], [Gender], [IsActive]) VALUES (204, N'Isabelle', N'Velez', N'AUT', CAST(N'1991-03-01T03:51:09.000' AS DateTime), NULL, 0, 1, 1)
INSERT [dbo].[Skier] ([Id], [FirstName], [LastName], [CountryCode], [BirthDate], [Image], [IsRemoved], [Gender], [IsActive]) VALUES (205, N'Cassandra', N'David', N'AUT', CAST(N'1990-09-20T04:01:15.000' AS DateTime), NULL, 0, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Skier] OFF
SET IDENTITY_INSERT [dbo].[StartList] ON 

INSERT [dbo].[StartList] ([Id], [SkierId], [RaceId], [StartNumber], [RunNumber], [IsDisqualified]) VALUES (716, 310, 17, 1, 1, 0)
INSERT [dbo].[StartList] ([Id], [SkierId], [RaceId], [StartNumber], [RunNumber], [IsDisqualified]) VALUES (717, 311, 17, 2, 1, 0)
INSERT [dbo].[StartList] ([Id], [SkierId], [RaceId], [StartNumber], [RunNumber], [IsDisqualified]) VALUES (718, 312, 17, 3, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[StartList] OFF
ALTER TABLE [dbo].[Race] ADD  DEFAULT ((0)) FOR [RaceState]
GO
ALTER TABLE [dbo].[Race] ADD  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Skier] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_Gender1] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_Gender1]
GO
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_Location1] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_Location1]
GO
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_RaceState1] FOREIGN KEY([RaceState])
REFERENCES [dbo].[RaceState] ([Id])
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_RaceState1]
GO
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_RaceType1] FOREIGN KEY([RaceType])
REFERENCES [dbo].[RaceType] ([Id])
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_RaceType1]
GO
ALTER TABLE [dbo].[RaceData]  WITH CHECK ADD  CONSTRAINT [FK_RaceData_StartList1] FOREIGN KEY([StartListId])
REFERENCES [dbo].[StartList] ([Id])
GO
ALTER TABLE [dbo].[RaceData] CHECK CONSTRAINT [FK_RaceData_StartList1]
GO
ALTER TABLE [dbo].[Skier]  WITH CHECK ADD  CONSTRAINT [FK_Skier_Gender1] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Skier] CHECK CONSTRAINT [FK_Skier_Gender1]
GO
ALTER TABLE [dbo].[StartList]  WITH CHECK ADD  CONSTRAINT [FK_StartList_Race1] FOREIGN KEY([RaceId])
REFERENCES [dbo].[Race] ([Id])
GO
ALTER TABLE [dbo].[StartList] CHECK CONSTRAINT [FK_StartList_Race1]
GO
ALTER TABLE [dbo].[StartList]  WITH CHECK ADD  CONSTRAINT [FK_StartList_Skier1] FOREIGN KEY([SkierId])
REFERENCES [dbo].[Skier] ([Id])
GO
ALTER TABLE [dbo].[StartList] CHECK CONSTRAINT [FK_StartList_Skier1]
GO
