<div [ngSwitch]="race.kind" class="flex-1 d-flex flex-col mw-800px">
    <ng-container *ngSwitchCase="'Data'">
        <ng-container [ngSwitch]="race.data.raceState">
            <!-- NotStarted -->
            <app-icon-info *ngSwitchCase='0' icon="flag-outline">
                Race is not started yet. <br>
                Watch live on {{ race.data.raceDate | date:'dd.MM.yyyy' }}.
            </app-icon-info>

            <!-- Running -->
            <div *ngSwitchCase='1'>
                <app-race-info [race]="race.data" [locations]="locations"></app-race-info>

                <!-- Current Skier -->
                <app-live-statistic *ngIf="showLiveStatistic()"
                    class="mw-800px mb-4" [statistic]="liveStatistic"></app-live-statistic>

                <app-tab-nav [links]="navLinks"></app-tab-nav>
                <router-outlet></router-outlet>
            </div>

            <!-- Done -->
            <div *ngSwitchCase='2'>
                <app-race-info [race]="race.data" [locations]="locations"></app-race-info>
                <app-tab-nav [links]="navLinks"></app-tab-nav>
                <router-outlet></router-outlet>
            </div>
        </ng-container>

    </ng-container>

    <app-loading *ngSwitchCase="'Loading'"></app-loading>
    <app-error-info *ngSwitchCase="'Error'"></app-error-info>
</div>
