<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DbConnectionString" value="Data Source=huraceserver.database.windows.net;Initial Catalog=hurace-db-dev;Persist Security Info=True;User ID=huraceAdmin;Password=!0permissionStruggle_!"/>
    <add key="DbProviderName" value="Microsoft.Data.SqlClient"/>
    <add key="SignalREndpoint" value="http://localhost:60346/live"/>    
  </appSettings>
</configuration>