<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="DbConnectionString" value="Data Source=huraceserver.database.windows.net;Initial Catalog=hurace-db;Persist Security Info=True;User ID=huraceAdmin;Password=!cicdProject01!"/>
        <add key="DbProviderName" value="Microsoft.Data.SqlClient"/>
        <add key="SignalREndpoint" value="https://hurace-api.azurewebsites.net/live"/>
    </appSettings>
</configuration>